<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="card" style="width: 100%;">
        <img src="{{productdetail.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{productdetail.name}}</h5>
          <p class="card-text">
            {{productdetail.description}}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{productdetail.price}}</li>
          <li class="list-group-item">{{productdetail.category}}</li>

        </ul>
        <div class="card-body">
          <input type="submit" value="Add-to-Cart" class="btn btn-warning form-control">
        </div>
      </div>
    </div>
    <div class="col-4">
      reviews
      <app-reviews [pid]="productdetail.id"></app-reviews>

      <div class="mt-3">
        <app-addreview [proid]="productdetail.id"></app-addreview>
      </div>
    </div>

  </div>

</div>